/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.large-container {
  width: 1100px;
  margin: 0 auto;
}

@media (max-width:1150px) {
  .large-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Header */
header {
  width: 100%;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}

header .logo {
  font-size: xx-large;
  text-decoration: none;
  color: #000;
}

/* Footer */
footer {
  padding-top: 32px;
  padding-bottom: 16px;
}

footer .logo {
  font-size: xx-large;
  color: #000;
  text-decoration: none;
}

footer p {
  color: #777;
}

footer .copyright {
  margin-top: 32px;
  text-align: center;
}

/* Each Pages */
main {
  padding-top: 16px;
  padding-bottom: 64px;
}

main .title-bar {
  display: flex;
  justify-content: space-between;
}

main .title-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: medium;
  padding: 4px;
  color: #000;
}

main .title-bar button:hover {
  opacity: 0.7;
}